{% block product_card %}
<div class="container h-100">
    <div class="row h-75">
        <div class="col-12 col-sm-12 col-md-6 col-xl-4">
            <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button"
                        data-bs-target="#carouselExampleIndicators"
                        data-bs-slide-to="0" class="active" aria-current="true"
                        aria-label="Slide 1"></button>
                    <button type="button"
                        data-bs-target="#carouselExampleIndicators"
                        data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button"
                        data-bs-target="#carouselExampleIndicators"
                        data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    {% for photo in product.photos %}
                    <div class="carousel-item {{ photo.active }}">
                        <div class="rounded w-100 h-100
                            bg-secondary" style="aspect-ratio: 16/9;
                            background-image: url('{{ photo.bg }}');
                            background-size: cover;
                            background-position: center;"></div>
                    </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Предыдущая</span>
                </button>
                <button class="carousel-control-next" type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Следующая</span>
                </button>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-xl-8">
            <h5 class="card-title">
                {{ product.name }}
            </h5>
            <p class="card-text">{{ product.description }}</p>
            <p class="card-text">
            </p>
        </div>
    </div>
    <div class="row h-25 mt-3">
        <div class="col-12 col-sm-12 col-md-6 col-xl-4">
            <button type="button" class="btn btn-outline-success border-0
                position-relative w-100 h-100">
                <b>{{ product.current_price }}</b>
                <span class="position-absolute top-0 start-50 translate-middle
                    badge rounded-pill bg-danger">
                    <del>{{ product.old_price }}</del>
                </span>
            </button>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-xl-8">
            <div class="row w-100 mt-2">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-3">
                    <span class="bg-transparent border-0
                        text-dark text-center">{{ product.available }}</span>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-5">
                    <div class="input-group">
                        <button class="btn btn-outline-secondary">
                            <span>-</span>
                        </button>
                        <input type="text" class="form-control
                            border-secondary">
                        <button class="btn btn-outline-success">
                            <span>+</span>
                        </button>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">
                    <a href="" class="btn btn-success w-100 mt-xl-0 mt-lg-2
                        mt-md-2 mt-sm-2 mt-2"><b>Купить</b></a>
                </div>
            </div>
            <div class="row w-100 mt-2">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12b">
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <div class="dropdown">
                            <button class="btn btn-outline-success dropdown-toggle"
                                type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">Доп. услуги</button>
                            <ul class="dropdown-menu">
                                {% for service in services %}
                                <li><button class="dropdown-item">{{ service.name }}{{ ': ' }}{{ service.price }}{{ ' BYN' }}</button></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <span type="text" class="input-group-text border-secondary bg-transparent border-0 w-25">{{ product.current_price}} BYN</span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}