{% block discount %}
<div class="col h-100 mb-2">
    <div class="card h-100">
    <div class="card-header text-center h5">{{ discount_block.header }}</div>
    <div class="h-50 w-100 bg-warning" style="aspect-ratio: 7/2; background-image: url('{{ discount_block.bg }}');
    background-size: cover;
    background-position: center;">
    </div>
        <div class="card-body h-100">
            <h5 class="card-title">{{ discount_block.product_name }}</h5>
            <p class="card-text">{{ discount_block.product_description }}</p>
            <div class="input-group w-75 m-auto">
                <span class="input-group-text bg-light justify-content-center w-50">Скидка {{ discount_block.discount_size }}%</span>
                <a href="" class="btn btn-success w-50">Заказать</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}