{% block side_bar %}
<div class="container-xl container-md container-sm container-xs rounded h-100">
    <div class="row gx-0">
        <button class="btn text-dark dropdown-toggle w-100" id="collapse-btn"
            type="button" data-bs-toggle="collapse"
            data-bs-target="#catalogue" aria-controls="catalogue"
            aria-expanded="false" aria-label="Toggle navigation">
            <span>Каталог</span>
        </button>
    </div>
    <div class="collapse gx-0" id="catalogue">
        <div class="row">
            <div class="btn-group dropend">
                <button type="button" class="btn text-dark
                    dropdown-toggle"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Ноутбуки
                </button>
                <ul class="dropdown-menu">
                    {% for lp in laptop_producers %}
                        <li><a class="dropdown-item" href="/{{ lp }}">{{ lp }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="btn-group dropend">
                <button type="button" class="btn text-dark
                    dropdown-toggle"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    ПК
                </button>
                <ul class="dropdown-menu">
                    {% for pp in pc_producers %}
                    <li><a class="dropdown-item" href="/{{ pp }}">{{ pp }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="btn-group dropend">
                <button type="button" class="btn text-dark
                    dropdown-toggle"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Клавиатуры
                </button>
                <ul class="dropdown-menu">
                    {% for kb in keyboards %}
                        <li><a class="dropdown-item" href="/{{ kb }}">{{ kb }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="btn-group dropend">
                <button type="button" class="btn text-dark
                    dropdown-toggle"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Мыши
                </button>
                <ul class="dropdown-menu">
                    {% for mouse in mice %}
                        <li><a class="dropdown-item" href="/{{ mouse }}">{{ mouse }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="btn-group dropend">
                <button type="button" class="btn text-dark
                    dropdown-toggle"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Наушники
                </button>
                <ul class="dropdown-menu">
                    {% for hp in headphones %}
                        <li><a class="dropdown-item" href="/{{ hp }}">{{ hp }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="row gx-0">
        <a type="button" class="btn text-dark position-relative">
            Отложенные
            <span class="badge bg-warning text-dark">
                11
            </span>
        </a>
        <a type="button" class="btn text-dark position-relative">
            Корзина
            <span class="badge bg-danger">
                2
            </span>
        </a>
        <p hidden id="current-widnow-size"></p>
    </div>
</div>

<script type="text/javascript" src="/assets/scripts/side_bar/expandOnLoad.js"></script>
<script type="text/javascript" src="/assets/scripts/side_bar/expandOnResize.js"></script>
{% endblock %}