{% block contacts_body %}
{% set b = contacts_body %}
<div class="container-fluid">
    <div class="row w-100">
        <div class="h1 text-center">{{ b.header }}</div>
    </div>
</div>

<div class="container-fluid">
    <div class="row w-100 mt-3">
        <p class="text-left">{{ b.p1 }}</p>
    </div>
</div>

<div class="container-fluid">
    <div class="row w-100">
        <div class="h5 text-left">{{ b.mail_us }}</div>
    </div>
</div>

<div class="container-fluid">
    <div class="row w-100 mt-3">
        <p class="text-left">{{ b.p2 }}</p>
    </div>
</div>

<div class="container-fluid">
    <div class="row w-100">
        <div class="h5 text-left">{{ b.address }}</div>
    </div>
</div>

<div class="container-fluid">
    <div class="row w-100 mt-3">
        <p class="text-left">{{ b.p3 }}</p>
    </div>
</div>

<div class="container-fluid">
    <div class="row w-100">
        <div class="h5 text-left">{{ b.worktime }}</div>
    </div>
</div>

<div class="container-fluid">
    <div class="row w-100 mt-3">
        <p class="text-left">{{ b.p4 }}</p>
    </div>
</div>

<div class="container-fluid">
    <div class="row w-100">
        <div class="h5 text-left">{{ b.order_time }}</div>
    </div>
</div>

<div class="container-fluid">
    <div class="row w-100 mt-3">
        <p class="text-left">{{ b.p5 }}</p>
    </div>
</div>

<div class="rounded
                bg-secondary" style="aspect-ratio: 7/3;
                background-image: url('{{ b.store_photo }}');
                background-size: cover;
                background-position: center;">
            </div>
{% endblock %}
