{% extends "_base.html.twig" %} {% block content %}
<div class="row bg-dark">
  <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
    {% use "user/components/top_nav_bar.html.twig" %}
    {% block top_nav_bar %}
    {{ parent() }}
    {% endblock %}
  </div>
</div>

<div class="container-fluid px-3 mx-0">
  <div class="row">
    <div class="col-xl-3 col-md-3 col-sm-12 col-xs-12 mt-3">
      {% use "user/components/side_bar.html.twig" %}
      {% block side_bar %}
      {{ parent() }}
      {% endblock %}
    </div>
    <div class="col-xl-9 col-md-9 col-sm-12 col-xs-12 mt-3">
      {% use "user/catalogue/components/promo_product.html.twig" %}
      {% block promo_product %}
      {{ parent() }}
      {% endblock %}
    </div>
  </div>
</div>

<div class="container-fluid px-3 mx-0">
  <div class="row">
    <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12 mt-3">
      {% use "user/catalogue/components/layout_managers.html.twig" %}
      {% block layout_managers %}
      {{ parent() }}
      {% endblock %}
    </div>
  </div>
</div>

<div class="container-fluid px-3 mx-0 mt-3">
  <div class="row p-3">
    <div class="col-xs-12 col-sm-12 col-md-12 col-xl-8">
      <div class="container">
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4 h-100">
          {% use "user/catalogue/components/product_cards.html.twig" %}
          {% block product_cards %}
          {{ parent() }}
          {% endblock %}
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-xl-4">
      <div class="container rounded">
        <div class="row row-cols-1 row-cols-md-1 row-cols-xl-1 h-100">
          {% use "user/components/discount_block.html.twig" %}
          {% block discount %}
          {{ parent() }}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}