{% block about_body %}

<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <h1 class="text-center">{{ header }}</h1>
    </div>
</div>

<div class="row">
    <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
    <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 ">
        <p class="text-left">{{ about_main_text }}</p>
    </div>
</div>

<div class="row">
    <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
    <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 ">
        <h1 class="text-center">{{ sub_header }}</h1>
        <p class="text-left">{{ why_buy_from_us }}</p>
    </div>
</div>

<div class="row">
    <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
    <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 ">
        <pre class="text-left">{{ law_info }}</pre>
    </div>
</div>

{% endblock %}